







<Section class="bbody">
    <div class=" w  col-lg-1 mt-5  d-flex justify-content-center align-items-center   ">
                <h3 class="mb-1 mx-5 text-center">Hej jag är Alan Monfared</h3>
        <div class="col-4 mt-5 ">
            <p>Jag heter Alan Monfared och är en 32 årig man som är bosatt i Västerås. jag älskar träning och hälsa.ag skulle vilja beskriva mig som en väldigt positiv människa som alltid försöker se allting från den ljusa sidan. Som person är jag väldigt ordningssam och vill alltid ha koll på läget samtidigt som jag kan vara väldigt impulsiv och flexibel. Min förmåga att planera gör detta möjligt.</p>
            <li><a href="https://www.linkedin.com/in/alan-milad-monfared-b6683690"><li class="fab fa-linkedin-in mt-5 mx-2 btn btn-bluee"></li>Linkedin</a></li>
        </div>   
   
</div>



</Section>





