
        <div class=" container mt-5 text-center col-10">
            <div class="card-header d-flex justify-content-center align-content-center ">
              <ul class="nav card-header-tabs ">
                <li class="nav-item">
                  <a class="nav-link active btn btn-bluee" routerLink="/about" aria-current="true" href="#!">ARBETSLIVSERFARENHETER</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-bluee" routerLink="/utbildningar" >UTBILDNINGAR</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-bluee"  routerLink="/fardigheter"  tabindex="-1" aria-disabled="true" >FÄRDIGHETER</a>
                </li>
              </ul>
            </div>
            <div class="card-body d-flex justify-content-center align-content-center text-start mt-5">
                <div>
                      <label class="border-bottom mb-4 mx-4 text-info animate__animated animate__backInDown" ><h4>FÄRDIGHETER</h4></label>
                <ul>
                    <li>• Svenskaflytande i tal och skrift.</li>
                    <li>• Persiskaflytande i tal.</li>
                    <li>• Engelska mycket goda kunskaper i tal och skrift.</li>
                    <li>• Kurdiska Goda kunskaper i tal. </li>
                    <li>• Dari Goda kunskaper i tal. </li>
                    <li>• Arabiska  Goda kunskaper i tal.</li>
                </ul>
        
                </div>
              
            
                
            <div class="mx-3 mt-5">
                    <!-- <li><h5>Hallstahammars Kommun,2015–2016</h5></li>
                         <p>Guide/Tolk på integrationsavdelning</p>
                    <li><h5>Transport,2019–2020</h5></li>
                         <p>Speditör på NM Global</p>
                    <li><h5>Transport,2016–2020</h5></li>
                         <p>Chaufför/AM sorter på United Parcel service</p> -->
           </div>
            
        
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
























<!-- <div class="container ">
    <div class="col-lg-4 ">
        <h4>I NULÄGET</h4>
        <p>Jag studerar Frontendutvecklare i Västerås kommun.</p>
    </div>
    
    <div class="col-lg-15   d-flex justify-content-start align-items-center mx-5 ">

        <div>
            <h5 class="text-info">FÄRDIGHETER</h5>
            <p>Språkkunskaper</p>
            
            <ul>
                <li>• Svenskaflytande i tal och skrift,</li>
                <li>• Persiskaflytande i tal,</li>
                <li>• Engelska mycket goda kunskaper i tal och skrift, </li>
                <li>• Kurdiska Goda kunskaper i tal, </li>
                <li>• Dari Goda kunskaper i tal, </li>
                <li>• Arabiska  Goda kunskaper i tal .</li>
            </ul>
    
        </div>
        
        
        <ul class="card">
            <label class="  border-bottom mb-4 text-info" ><h4>ARBETSLIVSERFARENHET</h4></label>
            <li><h5>Resturang,2009–2011</h5></li>
                <p>Köksbiträde på Red Chili</p>
            <li><h5>Fotograf,2010–2011</h5></li>
                <p>Fotograf på Most Photos</p>
            <li><h5>Bygg och anlägning,2014–2015</h5></li>
                <p>Golvläggare på Le </p>
            <li><h5>Hallstahammars Kommun,2015–2016</h5></li>
                <p>Guide/Tolk på integrationsavdelning</p>
            <li><h5>Transport,2019–2020</h5></li>
                <p>Speditör på NM Global</p>
            <li><h5>Transport,2016–2020</h5></li>
                <p>Chaufför/AM sorter på United Parcel service</p>
        </ul>


        <div class="col-lg-4 mx-5">
            <label class="border-bottom mb-4 text-info" ><h4>UTBILDNINGAR</h4></label>
            <p>Yrkes Handel Wenströmska gymnasiet</p>
            <p>Bygg och anläggning kunskaps Companiet</p>
            <p>Frontenduvecklare EC utbildning (Pågående)</p>
        </div>
    

    </div>
    

    
    <div class="d-flex justify-content-end align-items-center">
        <li><a href="https://www.linkedin.com/in/alan-milad-monfared-b6683690"><li class="fab fa-linkedin-in f mx-2 btn btn-info"></li></a>Linkedin</li>
    
    </div>

  



</div> -->